<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Retro Paws Emporium Test Suite">
    <test name="Retro Paws Web Application Tests">
        <classes>
            <class name="com.retropaws.tests.RetroPawsTests"/>
        </classes>
    </test>
</suite>
